<div class="footer"><div class="footer-inner">
	<!-- #section:basics/footer -->
	<div class="footer-content">
		<span class="bigger-120"><span class="blue bolder">Linstrong Co.,Ltd</span> &copy; 2014-2020</span>
		&nbsp; &nbsp;
	</div>
	<!-- /section:basics/footer -->
</div></div>